body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

img {
	max-width: 350px;
	overflow: hidden}
div.my_tb{
margin-top: 50px

}

div.game{

	border: 1px solid black;
}
div.game{
	border: 1px solid black;

}
div.my-footer {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}