    <div class="input-group">
      <span class="input-group-addon" id="sizing-addon2">Номер телефона</span>
     <input type="text" class="form-control" placeholder="+ 7 (914) 234-76-64 " aria-describedby="sizing-addon2"> 
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">Подключить</button> 
        </div>
        </div>

        <div class="input-group">
       <span class="input-group-addon">
        <input type="checkbox" aria-label=""> 
         Согласен с условиями
      </span>
      <span class="agreed"></span>
 </div><!-- /input-group -->